.cart-main{
    margin-top: 100px
}

.cart-box{
    position: relative;
    margin: 30px 0;
    min-height: 55vh;
}

.cart-box h2{
    text-align: center;
    color: #282a32;
    text-transform: uppercase
}

.cart-box .cart-box-content{
    position: relative;
    display: flex;
    justify-content: space-around
    /* width: 90vw; */
}

.cart-box .cart-box-content .item-cart{
    width: 70%;
    background-color: #ffffff;
    padding: 10px;
    max-height: 100px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.cart-box .cart-box-content .item-cart img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
}

.cart-box .cart-box-content .item-cart .item-name-box{
    padding: 0 20px 0 20px;
    width:  40%;
}

.cart-box .cart-box-content .item-cart .item-name-box p{
    font-size: 14px
}
.cart-box .cart-box-content .item-cart .item-price-box{
    width: 20%;
    padding: 0 20px 0 20px;

}

.cart-box .cart-box-content .item-cart .item-price-box p{
    font-size: 16px;
    font-weight: 600;
}
.cart-box .cart-box-content .item-cart .select-number-box{
    width: 25%;
    display: flex;
    height: 28px;
}

.cart-box .cart-box-content .item-cart .select-number-box input{
    width: 35px;
    border: 1px solid #282a32;
    text-align: center;
}

.cart-box .cart-box-content .item-cart .select-number-box button{
    width: 35px;
    border: none;
    background: #282a32;
    color: #ffffff
}

.cart-box .total-cost-box{
    padding: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;

}

.cart-box .checkout-box{
    width: 22%;
}

.cart-box .total-cost-box .temporary-box{
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border-bottom: solid 1px #f4f4f4;
}

.cart-box .total-cost-box .temporary-box p{
    font-size: 14px;
    color: #333333c2;
}

.cart-box .total-cost-box .comission-box{
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border-bottom: solid 1px #f4f4f4;
}

.cart-box .total-cost-box .comission-box p{
    font-size: 14px;
    color: #333333c2;
}

.cart-box .total-cost-box .total-price-box{
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    /* border-bottom: solid 1px #f4f4f4; */
}

.cart-box .total-cost-box .total-price-box p{
    font-size: 14px;
    color: #333333c2;
}

.cart-box .total-cost-box .total-price-box .total-price{
    font-size: 22px;
    color: #282a32;
}

.cart-box .pay-btn{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #282a32;
    color: #ffffff;
    font-size: 14px;
}